body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #e8f0fe;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}

#circle-container {
    position: relative;
    width: 340px;
    height: 330px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}
.circle:hover {
    transform: scale(1.1);
}
.distractor {
    background-color: var(--color, blue);
}
.header {
    font-size: 40px;
    margin-bottom: 40px;
    padding: 40px 120px;
    border: 2px solid #555;
    border-radius: 15px;
}
.input {
    margin-left: 20px;
    font-size: 14px;
}
#info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    font-size: 18px;
    gap: 10px;
}
#level-display, #timer-display, #average-level-display {
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
    border: 4px solid #2a2a2a;
}
#delay-message {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    padding: 10px;
    border-radius: 12px;
    display: none;
    z-index: 10; /* Fixed z-index */
}

.settings-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}